/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
/composer.lock
/.idea
/.vscode
.editorconfig
*.DS_Store
.php-cs-fixer.cache
/public/nginx.htaccess

/public/vendor/
cghooks.lock

